html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html{
  background-color:#494749;
}

ul{
  list-style-type:none;
}
li {
  display: inline;
}
button{
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}
button:hover{

  background-color:#866045;
}
#main{
  width: 44%;
  text-align: center;
  margin: 1% 26%;
  position: relative;
  padding: 3%;
  background-color: #b3432b;
  border-radius: 30px;
}

#desc{
  position: relative;
    width:100%;
    margin: auto;
    margin: 1% 0%;
}

#roulette{
  padding: 0 1%;
    position: relative;
    width: 80%;
    margin: 7% 8%;
}
.hero{
  background-color: #daad7e;
  display: inline-block;
  padding: 12px;
  margin: 6px;
  height: 20px;
  width: 127px;
  border-radius: 13px;
}
#amount{
  margin: 5%;
  display:inline;
}
#percentage{
  display:inline;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

